body{
    background: linear-gradient(rgb(46, 156, 70), rgb(223, 219, 26));
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(23, 131, 59);
    padding: 50px;
    margin-top: 5%;
}

b{
    font-size: 25px;
}

button{
    margin-top: 18px;
    border-radius: 0px 0px 13px 13px;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background-color: red;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

span:hover{
    font-size: 30px;
    transition: 0.5s;
}